.form-container { 
    width: 100% !important; 
    max-width: 800px !important; 
}

.field-container {    
    gap: 2em !important;       
}

.table-responsive-container {
    display: grid;
    /* Usa 1 fração para cada coluna, dividindo o espaço disponível igualmente em 8 */
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    gap: 5px; /* Controla o espaçamento entre os itens sem quebrar o layout */
}

.item {
    //background-color: #d6b073;
    background-color: var(--color-primary);
    color: var(--color-accent);
    padding: 0.5rem; /* Reduzi um pouco para caber melhor em 800px */
    text-align: center;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    height: 3rem;
    /* Remova o margin: 1rem; ele quebra o cálculo do grid */
}



.item.data {
    background-color: #f8f9fa;
    border: 1px solid var(--color-border);
    color: var(--color-text-dark);
}


/* MOBILE: Quando a tela for menor que 720px (seguindo o padrão do seu base-form.css) */
/* @media screen and (max-width: 720px) {
    .table-responsive-container {
        
        grid-template-columns: 1fr; 
    }
} */

