:root {
    --color-primary: #1748AF; /* Azul Escuro (Botão, Título) */
    --color-accent: #ffc346; /* Amarelo Ouro (Destaque, Foco) AF7E17 */
    --color-border: #BCBDC1; /* Cinza Claro (Borda Padrão) */
    --color-background-soft: #E0E4FD; /* Azul Claro Suave (Fundo da página) */
    --color-text-dark: #2E2F33; /* Cinza Escuro (Textos) */
    --color-card-bg: #FFFFFF; /* Branco (Fundo do Card) */
    --color-input-bg: #FFFFFF; /* Branco (Fundo dos campos) */
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body - Com fundo azul com degrade background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
body {
    //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100dvh; 
    
     /* VISUALIZAÇÃO: Borda preta grossa para ver o limite do body */
    //border: 5px solid black;
    //border: 5px;
    

    /* CONTROLE DE LARGURA: 
       Normalmente é 100%, mas você pode diminuir para testar */
    width: 100%;
    padding: 5px;

    background-color: #f0f0f0;

    /* CENTRALIZAÇÃO: Ative para ver o form ir para o meio */
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-container {
   
    /* CENTRALIZAÇÃO E TAMANHO */
    max-width: 800px;
    height: auto;
    width: 100%;
    

    /* ESTÉTICA DE CARD (Opcional, baseado nas suas variáveis) */
    background-color: var(--color-card-bg);
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2); /* Sombra para dar profundidade */
    flex-wrap: wrap;
    transition: max-width 0.3s ease;
}

.field-container {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;  
    //background-color: #f39c12;
    border-radius: 5px;
    
    padding: 10px;

    
    flex: 1 1 auto;
    
}

.field-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.field-col {
    position: relative;  //Adicionei está linha para ancorar o tooltip
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-text-dark);
    flex: 1 1 auto;
}

/* Feito para alinhar as bandeiras na lateral direita*/
.posicao-end {
    display: flex;
    justify-content: end;
    gap: 0.4rem;
}


/* No desktop, define as proporções */
.col-8 {
    flex: 8 1 0; /* Cresce 8 vezes mais, pode encolher, base começa em 0 */
}

.col-2 {
    flex: 2 1 0; /* Cresce 2 vezes mais, pode encolher, base começa em 0 */
    max-width: 8rem;
}

.col-5 {
    flex: 5 1 0; /* Cresce 2 vezes mais, pode encolher, base começa em 0 */
}

.col-0 {
    flex: 1 1 0;
}

.field-label {
    width: 100%;
    height: 100%;
}


input[type="time"]::-webkit-calendar-picker-indicator {
    margin-right: 28px; /* Desloca o ícone do relógio para longe da borda direita */
    cursor: pointer;
}

.button-group.horizontal {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
}

/* Botão CTA (Call to Action) */
.cta-button {
    width: 100%;
    padding: 15px;
    background-color: var(--color-primary);     
    color: var(--color-accent);
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s, opacity 0.2s;
}

.cta-button:hover {    
    background-color: #0A2A6E;
}

.cta-button:active {
    opacity: 0.9;
}

.error-message {
    position: absolute;
    top: 100%;
    margin-top: 2px;   
    left: 0px;    
    font-size: 12px;
    color: #ff4d4d;
}






@media screen (max-width: 512px) {
    .col-5 {
        flex: 1 1 auto;
    }

    .col-8, .col-2 {
        flex: 1 1 100%;
    }
}

@supports (-webkit-touch-callout: none) {
    input,
    textarea,
    select
}


@media screen and (max-width: 720px) {
   

    .col-8, .col-2, .col-5 {
        flex: 1 1 100%; /* No mobile, ambos forçam 100% da largura */
    }
    
}